__pycache__/
*.pyc
.env
*.log
.DS_Store
trading_bot/.DS_Store
img
mypy.ini
machine_learning/data/*
machine_learning/img/*
machine_learning/models/modelo_mlp.pkl
machine_learning/models/modelo_rf.pkl
machine_learning/models/modelo_xgboost.pkl
